*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/backcover.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Roboto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-item{
    list-style-type: none;
    text-decoration: none;
    margin: 0px 20px;
    color: #120E43;
}
nav>img{
    height: 30px;
    width: 80px;
}
.intro-section{
    display: flex;
    flex-direction: row;
    
}

.signin-btn{
    padding: 7px 20px;
    background: linear-gradient(to right , #8D3DAF , #E03B8B);
    border: none;
    border-radius: 30px;
    color: white;
}
.left-section{
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
}
.left-section>h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: #120E43;
}
.left-section>h4{
    font-size: 17px;
    margin-bottom: 20px;
    color: #120E43;
}
.learn-more-btn{
    margin-top: 30px;
    padding: 10px 20px;
    background: linear-gradient(to right , #8D3DAF , #E03B8B);
    border: none;
    border-radius: 30px;
    color: white;
}
/* .vector-img{
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 500px;
}
.vector-dot{
    position: absolute;
    z-index: 2;
    top: 410px;
    left: 560px;

} */
.imgs-div>.vector-img{
    position: absolute;
    z-index: 1;
    top: 400px;
    left: 500px;
    height: 100px;
    width: 100px;
}
.imgs-div>.vector-dot{
    position: absolute;
    z-index: 2;
    top: 410px;
    left: 560px;
    height: 20px;
    width: 20px;

}
.imgs-div>img{
    position: absolute;
    top: 100px;
    left: 460px;
    height: 500px;
    width: 700px;
}

@media screen and (max-width:500px) {
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    nav>img{
        height: 20px;
        width: 60px;
    }
    .nav-items{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-item{
        list-style-type: none;
        text-decoration: none;
        margin: 0px 10px;
        color: #120E43;
        font-size: 10px;
    }
    .signin-btn{
        padding: 5px 7px;
        background: linear-gradient(to right , #8D3DAF , #E03B8B);
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 10px;
    }
    .left-section>h1{
        font-size: 20px;
        margin-bottom: 10px;
        color: #120E43;
    }
    .vector-img{
        display: none;
    }
    .vector-dot{
        display: none;
    }
    .intro-section{
        display: flex;
        flex-direction: column;
    }
    .left-section>h4{
        font-size: 10px;
        margin-bottom: 10px;
        color: #120E43;
    }
    .learn-more-btn{
        margin-top: 20px;
        padding: 5px 10px;
        background: linear-gradient(to right , #8D3DAF , #E03B8B);
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 10px;
    }
    .imgs-div>img{
        position: absolute;
        top: 450px;
        left: 100px;
        height: 150px;
        width: 300px;
        margin-left: 0px;
    }
}

@media (min-width:500px) and (max-width:1000px) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 50px;
    }
    .nav-items{
        display: flex;
        flex-direction: row;
    }
    .nav-item{
        list-style-type: none;
        text-decoration: none;
        margin: 0px 20px;
        color: #120E43;
    }
    nav>img{
        height: 30px;
        width: 80px;
    }
    .intro-section{
        display: flex;
        flex-direction: row;
        
    }
    .intro-section{
        display: flex;
        flex-direction: row;
        
    }
    
    .signin-btn{
        padding: 7px 20px;
        background: linear-gradient(to right , #8D3DAF , #E03B8B);
        border: none;
        border-radius: 30px;
        color: white;
    }
    .left-section{
        text-align: center;
        margin-top: 100px;
        margin-left: 50px;
    }
    .left-section>h1{
        font-size: 35px;
        margin-bottom: 20px;
        color: #120E43;
    }
    .left-section>h4{
        font-size: 15px;
        margin-bottom: 20px;
        color: #120E43;
    }
    .imgs-div>.vector-img{
        position: absolute;
        z-index: 1;
        top: 400px;
        left: 370px;
        height: 100px;
        width: 100px;
    }
    .imgs-div>.vector-dot{
        position: absolute;
        z-index: 2;
        top: 410px;
        left: 430px;
        height: 20px;
        width: 20px;
    
    }
    .imgs-div>img{
        position: absolute;
        top: 100px;
        left: 360px;
        height: 400px;
        width: 600px;
    }
}